// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-left: 20px;
  padding: 20px;
}

.main {
  border-left: lightgrey 5px solid;
  padding-left: 10px;

}

form {
  margin-right: 0px;
}
#form {
  width: 100%;
}
